<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>Appointment Set Up</title>
</head>
<body>
  <header>
    <h1>Set Appoinment</h1>
  </header>

  <div class="container">
    <form action="{{ url_for('appointment_setup') }}" method="POST">
      <div class="form-group">
        <label for="dog_name">Dog Name:</label>
        <input type="text" class="form-control" id="dog_name" name="dog_name" required>
      </div>

      <div class="form-group">
        <label for="dog_breed">Dog Breed:</label>
        <input type="text" class="form-control" id="dog_breed" name="dog_breed" required>
      </div>

      <div class="form-group">
        <label for="owner_first_name">Owner First Name:</label>
        <input type="text" class="form-control" id="owner_first_name" name="owner_first_name" required>
      </div>

      <div class="form-group">
        <label for="owner_last_name">Owner Last Name:</label>
        <input type="text" class="form-control" id="owner_last_name" name="owner_last_name" required>
      </div>

      <div class="form-group">
        <label for="phone_number">Phone Number:</label>
        <input type="text" class="form-control" id="phone_number" name="phone_number" required>
      </div>

      <div class="form-group">
        <label for="scheduled_date">Appointment Date:</label>
        <input type="date" class="form-control" id="scheduled_date" name="scheduled_date" required>
      </div>

      <div class="form-group">
        <label for="notes">Notes:</label>
        <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <button type="submit" class = "btn btn-primary"><a href="/" class="return-link">Return to Home</a></button>
  </div>

  <script>
    // Script to toggle display of medication information text area based on Meds checkbox
    document.getElementById("meds").addEventListener("change", function() {
      var medicationInfoGroup = document.getElementById("med_info_group");
      medicationInfoGroup.style.display = this.checked ? "block" : "none";
    });

    // Script to toggle display of food information text area based on Shop Food checkbox
    document.getElementById("shop_food").addEventListener("change", function() {
      var foodInfoGroup = document.getElementById("food_info_group");
      foodInfoGroup.style.display = this.checked ? "block" : "none";
    });
  </script>
</body>
</html>
