<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Add FullCalendar and Moment.js from local resources -->
    <script src="{{ url_for('static', filename='moment/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullcalendar/index.global.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullcalendar/daygrid.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullcalendar/interaction.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullcalendar/timegrid.min.js') }}"></script>
</head>
<body>
    <div id='calendar'></div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek', // Set the initial view to 'timeGridWeek'
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay' // Include timeGridWeek and timeGridDay
                }
            });
            calendar.render();
        });
    </script>
</body>
</html>
