<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <style>
        #addEventButton, #homeButton {
            position: fixed;
            top: 15px;
            z-index: 1000;
            padding: 0;
            margin: 0;
        }

        #addEventButton {
            right: 225px;
        }

        #homeButton {
            right: 265px;
        }

        body.modal-open {
            padding-right: 0 !important;
        }

        #calendar {
            height: 100vh;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <div id='calendar'></div>

    <button type="button" class="btn btn-secondary" id="addEventButton">Add Event</button>
    <button type="button" class="btn btn-secondary" id="homeButton">Home</button>

    <div class="modal fade" id="newAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="newAppointmentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newAppointmentModalLabel">New Appointment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="newAppointmentForm" method="POST" action="/add_appointment">
                        <div class="form-group">
                            <label for="dog_name">Dog Name</label>
                            <input type="text" class="form-control" id="dog_name" name="dog_name" required>
                        </div>
                        <div class="form-group">
                            <label for="dog_breed">Dog Breed</label>
                            <input type="text" class="form-control" id="dog_breed" name="dog_breed" required>
                        </div>
                        <div class="form-group">
                            <label for="owner_first_name">Owner First Name</label>
                            <input type="text" class="form-control" id="owner_first_name" name="owner_first_name" required>
                        </div>
                        <div class="form-group">
                            <label for="owner_last_name">Owner Last Name</label>
                            <input type="text" class="form-control" id="owner_last_name" name="owner_last_name" required>
                        </div>
                        <div class="form-group">
                            <label for="phone_number">Phone Number</label>
                            <input type="text" class="form-control" id="phone_number" name="phone_number" required>
                        </div>
                        <div class="form-group">
                            <label for="scheduled_date">Scheduled Date</label>
                            <input type="date" class="form-control" id="scheduled_date" name="scheduled_date" required>
                        </div>
                        <div class="form-group">
                            <label for="ap_time">Appointment Time</label>
                            <input type="time" class="form-control" id="ap_time" name="ap_time" required>
                        </div>
                        <div class="form-group">
                            <label for="notes">Notes</label>
                            <textarea class="form-control" id="notes" name="notes"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <!-- FullCalendar main CSS -->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.css' rel='stylesheet' />

    <!-- FullCalendar main JS -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/locales-all.min.js'></script>



    <script>
       document.getElementById("homeButton").addEventListener("click", function() {
    window.location.href = "/employee_page";
});

    document.addEventListener('DOMContentLoaded', function() {
        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',  // set week view to default
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            views: {
                timeGridWeek: {
                    hiddenDays: [0]
                }
            },
            allDaySlot: false,
            nowIndicator: true,
            slotDuration: '00:15:00', //set the size of the block
            slotMinTime: '07:00:00', //set start time
            slotMaxTime: '20:00:00', //set end time
            editable: true,
            selectable: true,
            events: {
                url: '/api/fetch_appointments',
                failure: function() {
                    alert('There was an error while fetching appointments.');
                }
            },
            eventClick: function(info) {
                alert('Event: ' + info.event.title);
            },
            dateClick: function(info) {  // changed from select
                alert('Selected ' + info.dateStr);
            }
        });

        calendar.render();
    });



$('#addEventButton').on('click', function() {
    $('#newAppointmentModal').modal('show');
});

$('#newAppointmentModal form').on('submit', function(event) {
    event.preventDefault();

     // Disable the submit button to prevent multiple submissions
    $("#submitButton").prop("disabled", true);

    var formData = {
        dog_name: $('#dog_name').val(),
        dog_breed: $('#dog_breed').val(),
        owner_first_name: $('#owner_first_name').val(),
        owner_last_name: $('#owner_last_name').val(),
        phone_number: $('#phone_number').val(),
        scheduled_date: $('#scheduled_date').val(),
        ap_time: $('#ap_time').val(),
        notes: $('#notes').val()
    };

    console.log('Form Data:', formData);

    $.ajax({
        type: "POST",
        url: "/add_appointment",
        data: $(this).serialize(),
        success: function(response) {
            if (response.success) {
                // Close the modal
                $("#appointmentModal").modal("hide");

                // Refresh the calendar to show the new appointment
                calendar.refetchEvents();

                // Clear the form fields
                $("#appointmentForm")[0].reset();
            } else {
                alert("Error adding appointment. Please try again.");
            }
        },
        error: function() {
            alert("There was an error processing your request. Please try again.");
        },
        complete: function() {
            // Re-enable the submit button
            $("#submitButton").prop("disabled", false);
        }
    });
});


    </script>
</body>
</html>