<!DOCTYPE html>
<html>
<head>
    <title>Debbie's Dog Grooming Salon Employee Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">

</head>
<body>
    <h1>Welcome to Debbie's Dog Grooming Salon</h1>
    <h2>Choose an option:</h2>
    <ul>
        <li><a href="/set_appointment">Set Appointment</a></li>
        <li><a href="/calendar">View Calendar</a></li>
        <li><a href="/records">View Records</a></li>
    </ul>
    <button><a href="/">Return to Home</a></button>
</body>
</html>
