<!DOCTYPE html>
<html>
<head>
    <title>Debbie's Dog Grooming Salon</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
    <h1>Welcome to Debbie's Dog Grooming Salon</h1>
    <h2>Choose an option:</h2>
    <ul>
        <li><a href="/boarding">Boarding Sign In</a></li>
        <li><a href="/grooming">Grooming Sign In</a></li>
        <li><a href="/boarding_agreement">Fill out Boarding Agreement</a></li>
        <li><a href="/employee_page">Employee Page</a></li>
    </ul>
</body>
</html>
